
#chat-tree-panel {

  transition: none !important;

  width: 320px;
  background: #17171788;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  font-size: 12px;
  color: #F0F;
}


#chat-tree-header {
  background: #aa55aa88;
  padding: 6px 10px;
  font-weight: bold;
  color: #f4f;
  cursor: move;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#chat-tree-toggle {
  font-weight: bold;
  border: none;
  background: none;
  color: #0f0;
  font-size: 16px;
  cursor: pointer;
}
#chat-tree-content {
  padding: 10px;
  max-height: 70vh;
  overflow-y: auto;
  color: #f4f;
}
.chat-tree-item {
  cursor: pointer;
  margin-bottom: 4px;
}
.chat-tree-edited {
  background-color: #606;
}
.chat-tree-empty {
  list-style: none;
}
.chat-tree-empty hr {
  border-top: 1px dashed #bbb;
  margin: 4px 0;
}
.chat-tree-fork details {
  margin-bottom: 6px;
}